
@{
    ViewBag.Title = "Display";
}

<h2>Display</h2>

<h2> Studnet Details </h2>
ID : @ViewBag.student.Id
<br />
Name : @ViewBag.student.Name
<br />
Marks : @ViewBag.student.Marks
<br />
Batch Code : @ViewBag.student.BatchCode
<br />


