@model WebApplication14.Models.Student

@{
    ViewBag.Title = "Display1";
}

<h2>Student Details </h2>

ID : @Model.Id
<br />
Name : @Model.Name
<br />
Marks : @Model.Marks
<br />
Batch Code : @Model.BatchCode
<br />





